@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Caslon Text', serif;
}

body {
    color: #333;
    background-color: #1b1a1a;
    height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Remove a barra de rolagem */
}

header {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px; /* Reduzido para dar mais espaço */
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    margin-left: 15px;
    font-size: 15px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    display: block;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: white;
    color: black;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Faz a seção ocupar o espaço restante */
    text-align: center;
    color: white;
}

.info-block {
    margin-bottom: 80px; /* Reduzido para evitar rolagem */
}

.info-block h2 {
    font-size: 24px; /* Reduzido para caber na tela */
    margin-bottom: 5px;
}

.info-block p {
    font-size: 18px; /* Reduzido para caber na tela */
}
